.App {
  text-align: center;
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #333;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: navajowhite;
}

.main-content {
  flex: 1;
  padding: 20px; /* Ajusta según sea necesario */
}
